@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&family=Work+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Raleway";
		src: url("src/assets/font/Raleway.ttf");
	}
	@font-face {
		font-family: "Audiowide";
		src: url("src/assets/font/Audiowide.ttf");
	}
	@font-face {
		font-family: "Inter";
		src: url("src/assets/font/Inter.ttf");
	}

	html,
	body {
		scroll-behavior: smooth;
		overflow: hidden;
	}
	a {
		@apply font-raleway;
	}
}

@layer components {
	.gradient-text {
		@apply text-transparent bg-clip-text bg-gradient-text;
	}
}
