@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Raleway";
		src: url("src/assets/font/Raleway.ttf");
	}
}

@layer components {
	.gradient-text {
		@apply bg-clip-text text-transparent bg-gradient-text;
	}
}
